google-cloud-aiplatform
google-cloud-storage
numpy
cloudml-hypertune
tensorflow==2.12.0
tensorflow-cloud==0.1.16
tensorflow-serving-api==2.11.0
tf-agents==0.17.0
tensorboard-data-server==0.7.1
tensorboard-plugin-profile==2.13.0
tensorflow-datasets==4.9.0
tensorflow-estimator==2.12.0
tensorflow-hub==0.13.0
tensorflow-io==0.32.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==0.14.0
tensorflow-probability==0.20.1
tensorflow-transform==0.14.0
pillow